body {
    margin: 0 auto;
    padding: 0;
    background-image: url("/assets/images/cor3.jpg");
    background-repeat: repeat;
    background-size: 1980px 1080px;
    font-family: 'Josefin Sans', sans-serif;
}

.homePage{
    /* text-align: center; */
    display: grid;
    margin-top: 20px;
}

.burguerMenu {
    position: absolute;
    top: 0;
    left: 0;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

.social a {
    height: 37px;
    line-height: 37px;
    width: 37px;
    background-color: #ffffff;
    border-radius: 18.5px;
    margin: 5px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

.icon {
    fill: #5C013B;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.logo img {
    display: flex;
    margin-top: 50px;
}

.menu {
    color: #5C013B;
    font: lighter 20px/30px Tahoma, serif;
    /* font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#project{
    background-color: #f4dcb99a;
    border-radius: 10px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.projects {
    display: flex;
    grid-gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.projItem{
    max-width: 33%;
}

.projItem :hover{
    transform: scale(1.0) rotate(20deg);
    overflow: hidden;
}

#about{
    max-width: 95%;
    margin: 0 auto;
    background-color: rgba(242, 141, 168, 0.459);
    border-radius: 10px;
}

.mePhoto {
    display: flex;
    margin: 20px auto;
}


.sectionTitle {
    color: #61acba;
    font-size: 50px;
    /* background-color: #f4dcb99a; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px 0;
    padding: 10px 0;
}

.textAbout {
    color: #fff;
    font-size: 25px;
    /* background-color: #f4dcb98a; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 25px;
}

.contact {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    
}
.contactMe{
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}


/* h1:hover{
    color: rgb(89, 94, 86);
    font-size: 60px;
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: rotate(60deg);
} */

.burguerMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.sticky-header {
    color: #5C013B;
    font-size: 45px;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0;
    width: 100%;
    /* background-color: #61adbaa2; */
    height: 45px;
    padding: 5px 0;
}

.sticky-header .container {
    display: flex;
    align-items: center;
}

/* main nav layout */
.sticky-header__main-nav {
    flex: 1;
    align-items: center;

}

.sticky-header__main-nav li {
    display: inline-block;
    position: block;
    padding: 0 15px;
}

/* main nav modules */
.sticky-header__main-nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    flex-direction: row;
    text-align: center;
    line-height: 40px;
}

.sticky-header__main-nav a:hover {
    text-decoration: none;
    color: #5C013B;
}

.sticky-header__main-nav a:active {
    color: #61acba;
}


@media only screen and (max-width: 650px){
    .burguerMenu{
        display:block;
      }
      .burguerMenu a:hover {
        display: flex;
      }
      .sticky-header__main-nav a:hover {
        color: #5C013B;
      }
      .sticky-header__main-nav a:active{
        color: #61adbaa2;
      }
      .sticky-header{
        display:none;
    }

      .sticky-header .container {
        display: flex;
        align-items: center;
      }
      /* main nav layout */
      .sticky-header__main-nav {
        flex:1;
      }
      .sticky-header__main-nav li {
        display: grid;
        position:sticky;
        align-items: center;
        background-color: #61adbaa2;
      }
      
      /* main nav modules */
      .sticky-header__main-nav a {
        font-size: 20px;
        color: #fff;
        flex-direction: column;
        text-align: center;
        line-height: 49px;
      }
}