body {
    margin: 0 auto;
    padding: 0;
    background-image: url("/assets/images/cor3.jpg");
    background-repeat: repeat;
    background-size: 1980px 1080px;
    font-family: 'Josefin Sans', sans-serif;
} 
header{
    /* text-align: center; */
    display: grid;
    margin: 20px;
}

.menu{
    margin: 35px;
}
.burguerMenu{
    position: absolute;
    top: 0;
    left:0;
}

.name{
    color: #5C013B;
    font-size: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 25px;    
}
.social a {
    height: 37px;
    line-height: 37px;
    width: 37px;
    background-color: #ffffff;
    border-radius: 18.5px;
    margin: 5px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style-type: none;
}
.icon{
    fill:#5C013B;
}

img{
    max-width: 100%;
    margin: 0 auto;
}
.logo img{
    display: flex;
    margin-top: 5%;
}
.menu{
    color: #5C013B;
    font: lighter 20px/30px Tahoma, serif;
    /* font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-area: wrap;
}

.projItem{
    flex-grow: 2fr 2fr 2fr;
}

.mePhoto{
    display: flex;
    margin: 20px auto;
}

 /* img:hover{
    transform: rotate(20deg); */

.sectionTitle{
    color: #61acba;
    font-size: 50px;
    background-color: #f4dcb99a;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.textAbout{
    color: #5C013B;
    font-size: 25px;
    /* background-color: #f4dcb98a; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 25px;
}

.contact{
    color: #5C013B;
    font-size: 20px;
    /* background-color: #f4dcb99a; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}


/* h1:hover{
    color: rgb(89, 94, 86);
    font-size: 60px;
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: rotate(60deg);
} */

.burguerMenu{
    position:fixed;
    top: 0;
    left: 0;
}

.sticky-header {
    position: fixed;
    text-align:center;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#61adbaa2;
    height: 45px;
    padding: 15px 0;
  }
  .sticky-header .container {
    display: flex;
    align-items: center;
  }
  /* main nav layout */
  .sticky-header__main-nav {
    flex:1;
    align-items: center;
  }
  .sticky-header__main-nav li {
    display:  inline-block;
    position: block;
    /* background-color: #61acbaa2; */
    padding: 0 10px;
  }
  
  /* main nav modules */
  .sticky-header__main-nav a {
    font-size: 20px;
    color: #fff;
    flex-direction: row;
    text-align: center;
    line-height: 49px;
  }
  

  /* -----  STATES States -------------------------------------------------- */
  /* display burguer Menu */
  /* .burguerMenu{
    display:block;
  } */
/* 
  .burguerMenu a:hover {
    display: flex;
  }
   */
  /* Main nav states */
  .sticky-header__main-nav a:hover {
    color: #000;
  }
  .sticky-header__main-nav a:active{
    color: #61acba;
  }